body {
  background-color: #fff8f3;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 32px;
  color: #000000;
  font-weight: 500;
  text-transform: capitalize;
}
h4 {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

h2 {
  font-size: 64px;
  font-weight: 400;
}
a {
  text-decoration: none;
  font-size: 16px;
  padding: 0px 4px;
}
ul {
  list-style: none;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  top: 4px;
}
.container {
  padding-top: 100px;
}
.card {
  margin: 0 auto;
  display: block;
  min-width: 58%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 24px 40px 24px 40px;
}
#search-form {
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}
.btn-primary {
  background-color: #ffdcaa;
  color: #000000;
  border: 1px solid #000000;
  transition: all 200ms ease-in-out;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: 1px solid #25363e;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.btn-secondary {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  transition: all 200ms ease-in-out;
}
.btn-secondary:hover {
  background-color: rgba(255, 220, 170, 0.4);
  cursor: pointer;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.weathertemperature {
  display: inline-flex;
  flex-direction: row;
}
.unit-controls {
  padding-left: 12px;
  padding-top: 8px;
}
.unit-controls .active {
  color: black;
  cursor: default;
  font-weight: 500;
}
.city-temperatureinfo {
  display: inline-flex;
  flex-direction: row;
}

#content-right {
  display: flex;
  justify-content: flex-end;
}
.futureforcast {
  padding-top: 12px;
  font-size: 16px;
  line-height: 24px;
}
#sm-summary {
  text-align: center;
}
img {
  margin: 12px 0;
}

#descript {
  text-transform: capitalize;
}
.footer {
  padding-top: 32px;
  padding-bottom: 100px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.website {
  font-size: 14px;
  text-decoration: underline;
  color: #000000;
  font-weight: 300;
}
